body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px; /* Set the maximum width for the container */
    width: 100%; /* Make sure the container takes full width */
    display: flex;
    justify-content: center; /* Center the child elements horizontally */
    margin: 0 auto; /* Center the container horizontally */
    text-align: center;
}

.responsive-image {
    width: 100%;
    max-width: 800px; /* Set the maximum width for the image */
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}
