body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    max-width: 100%;
    text-align: center;
}

.responsive-image {
    max-width: 60%; /* Set the maximum width for the image */
    height: auto;
}
