@font-face {
    font-family: 'Belleza';
    src: url('fonts/belleza.ttf') format('ttf');
    /* Add more font formats (e.g., woff2, ttf) for better browser compatibility */
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    font-family: 'Belleza', sans-serif;
    /* Add other styles for the body as needed */
}

.container {
    max-width: 800px;
    width: 100%;
    text-align: center;
}

.responsive-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.text-container {
    max-width: 800px;
    width: 100%;
    text-align: center;
    padding: 20px; /* Adjust padding as needed */
}

.centered-text {
    font-size: 18px; /* Adjust font size as needed */
    line-height: 1.6;
    color: #333; /* Adjust text color as needed */
}

@media (max-width: 600px) {
    .centered-text {
        font-size: 16px; /* Adjust font size for smaller screens */
    }
}
